html, body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #b52d1b;
}

#pageTitle{
  color: #dfc118;
  text-align: center;
}

.circle{
  height: 150px;
  width: 150px;
  background-color: #f5ebeb;
  border-radius: 50%;
}

.nobs{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1250px;
  height: auto;
}
.size{
  padding: 10px 20px;
  color: white;
  background-color: #374649;
  border: #374649 ;
  border-radius: 5px;
}

.container{
  width: 960px;
  height: 960px;
  border: 3px #374649 solid;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: white;
  flex: 1 0 auto;
}

.row{
  display: flex;
  margin: 0;
  padding: 0;
  flex: 1 0 auto;
  flex-wrap: wrap;
}

.squares{
  flex: 1;
  margin: 0;
  padding: 0;
}